<?xml version="1.0" encoding="utf-8" standalone="yes" ?>
<feed xmlns="http://www.w3.org/2005/Atom">

	<title>{{.Name}}</title>
	<link rel="self" href="{{.Link}}/atom.xml"/>
	<link href="{{.Link}}"/>
	<id>{{.Link}}/atom.xml</id>
	<updated>{{.DateISO}}</updated>
	<generator uri="http://www.planetplanet.org/">{{.Generator}}</generator>

{{range .Items}}
	<entry{{if .ChannelLanguage}} xml:lang="{{.ChannelLanguage}}"{{end}}>
		<title type="html"{{if .TitleLanguage}} xml:lang="{{.TitleLanguage}}"{{end}}>{{.Title}}</title>
		<link href="{{.Link}}"/>
		<id>{{.ID}}</id>
		<updated>{{.DateISO}}</updated>
		<content type="html"{{if .ContentLanguage}} xml:lang="{{.ContentLanguage}}"{{end}}>{{.Content}}</content>
		<author>
{{if .Author}}
			<name>{{.Author}}</name>
{{if .AuthorEmail}}
			<email>{{.AuthorEmail}}</email>
{{end}}
{{else}}{{if .ChannelAuthorName}}
			<name>{{.ChannelAuthorName}}</name>
{{if .ChannelAuthorEmail}}
			<email>{{.ChannelAuthorEmail}}</email>
{{end}}
{{else}}
			<name>{{.ChannelName}}</name>
{{end}}{{end}}
			<uri>{{.ChannelLink}}</uri>
		</author>
		<source>
{{if .ChannelTitle}}
			<title type="html">{{.ChannelTitle}}</title>
{{else}}
			<title type="html">{{.ChannelName}}</title>
{{end}}
{{if .ChannelSubtitle}}
			<subtitle type="html">{{.ChannelSubtitle}}</subtitle>
{{end}}
			<link rel="self" href="{{.ChannelURL}}"/>
{{if .ChannelID}}
			<id>{{.ChannelID}}</id>
{{else}}
			<id>{{.ChannelURL}}</id>
{{end}}
{{if .ChannelUpdatedISO}}
			<updated>{{.ChannelUpdatedISO}}</updated>
{{end}}
{{if .ChannelRights}}
			<rights type="html">{{.ChannelRights}}</rights>
{{end}}
		</source>
	</entry>

{{end}}
</feed>
