<?xml version="1.0"?>
<opml version="1.1">
	<head>
		<title>{{.Name}}</title>
		<dateModified>{{.Date}}</dateModified>
		<ownerName>{{.OwnerName}}</ownerName>
		<ownerEmail>{{.OwnerEmail}}</ownerEmail>
	</head>
	
	<body>
		{{range .Channels}}
		<outline type="rss" text="{{.Name}}" xmlUrl="{{.URL}}" title="{{if .Title}}{{.Title}}{{else}}{{.Name}}{{end}}"{{if .Link}} htmlUrl="{{.Link}}"{{end}} />
		{{end}}
	</body>
</opml>
